<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Create your own Youtube watchlists!">
    <meta name="keywords" content="youtube, list, authentication">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lists</title>

    <!-- external CSS links -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Add A Video</h1>
    <form action="videos/createVideo" method="POST">
        <input type="text" name="url">
        <button>Add</button>
    </form>
    <h1>Video List:</h1>
    <% data.forEach(video => {%>
        <section class="video-container">
            <div class="video" 
                data-youtube-id="<%= video.YouTubeID%>" 
                id="<%= video.userId%>">
                <h3 class="video__title"><%= video.title%></h3>
                <h4 class="video__channel"><%= video.channel%></h4>
                <img class="video__thumbnail" src="<%= video.thumbnail%>" alt="">
                <p class="video__desc"><%= video.description%></p>
                <p class="video__metrics">Views:<span class="video__view-count"><%= video.views%></span></p>
                <p class="video__metrics">Likes:<span class="video__like-count"><%= video.likes%></span></p>
                <p class="video__metrics">Comments:<span class="video__comment-count"><%= video.commentCount%></span></p>
                <p class="video__metrics">Published On:<span class="video__publish-date"><%= video.published%></span></p>
            </div>
        </section>
    <% })%>

    <a href="/logout">Logout</a>
    <%= data %>
    <script src="js/main.js"></script>
</body>
</html>